<div class="modal" id="announcementModal<%= a.id %>">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><%= a.title %></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-left">
        <% if (a.image_url) { %>
          <img class="d-block img-fluid" src="<%= a.image_url %>" sizes="100vw" width="100%" border="0" alt="" title=""/>
        <% } %>
        <%- a.modal_body_html %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
