<div class="footer">
  <p>&copy; A New Startup 2013</p>
</div>



</div> <!-- /container -->

<script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
<script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>"></script>

</body>
</html>
