<div class="modal" id="GeneralNoteModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Foundation Award Course</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-left">
        We are running  a Foundation Course in David Lloyd Cheshire Oaks, Stanney Lane CH5 9JN on the weekend of 5th and 6th April 2025.  The normal cost of these courses are £245 for non Badminton England members and £205 for Members.  We will be running this for £170 due to Funding from local performance Centres in the Cheshire area. If you would like to book on please use this <a href="https://badmintonengland.justgo.com/Workbench/i/r/public/EventsAndBookingsPublic/details/425F38000AF958647D5AF62AB9D91C1BB005A8DC/"> this link </a> to book your place then pay a £50 Deposit to <br /><br />
        Santander Business account<br />
        Its A Racket<br />
        40166411<br />
        09-06-66<br /><br />
        Remainder of the cost will be paid on the day of the course depending on further funding if we can get some.
        You can see further details of the course <a href="https://badmintonengland.justgo.com/Workbench/i/r/public/EventsAndBookingsPublic/details/425F38000AF958647D5AF62AB9D91C1BB005A8DC/"> here </a>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>