<%- include('./header.ejs'); -%>
<%- include('./nav.ejs'); -%>



<a href="/static/beta/images/generated/league-table-Premier.png">Premier</a><br />
<a href="/static/beta/images/generated/league-table-Division 1.png">Division 1</a><br />
<a href="/static/beta/images/generated/league-table-Division 2.png">Division 2</a><br />
<a href="/static/beta/images/generated/league-table-Division 3.png">Division 3</a>

<%- include('footer.ejs') %>


</body>
</html>
