<div class="modal" id="BaxterModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Baxter Trophy Champions!</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-left">
        <img class="d-block img-fluid" src="https://res.cloudinary.com/hvunsveuh/image/upload/ar_3:2,c_fill,f_auto/c_scale,w_auto:breakpoints_200_1920_30_5:300/2025/baxter-win_b7sn2i.jpg" sizes="100vw" width="100%" border=0 alt="" title=""/>
        <p>LtoR Greg Mooney, James Kee, Dan Jennings, Rishi Nigam, Katie Forbes, Rachel Flood, Mona Bhabuta, Serena Yang</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>