<% include header.ejs %>
<% include nav.ejs %>

<div class="table-responsive">
          <table class="table">
            <thead>
    					<tr>
    						<th>Name</th>
    						<th>Match night</th>
    						<th>Club Night</th>
    						<th>Venue</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr>
    						<td><a href="http://aerospacebadminton.org.uk/" target="_blank">Aerospace</a></td>
    						<td>Tuesday 8pm 2 courts</td>
    						<td>Tuesday 8pm</td>
    						<td>Cheadle Hulme High School, Woods Lane, Cheadle Hulme, SK8 7JX</td>
    					</tr>
    					<tr>
    						<td>Astra Zeneca</td>
    						<td>Thursday 7pm 2 courts</td>
    						<td>NA</td>
    						<td>Mulberry's Sports Complex, Astrazenca, Alderley Park, Macclesfield, SK10 4TF</td>
    					</tr>
    					<tr>
    						<td>Altrincham Central</td>
    						<td>Friday 7.30pm 2 courts</td>
    						<td>NA</td>
    						<td>MEA High School, Simonsway, Wythenshawe, M22 9RH</td>
    					</tr>
    					<tr>
    						<td>Bramhall Village</td>
    						<td>Monday 7pm 1 court</td>
    						<td>Sunday 7pm</td>
    						<td>Bramhall Village Club, Lumb Lane, Bramhall,SK7 1LR</td>
    					</tr>
    					<tr>
    						<td><a href="https://sites.google.com/site/capbadminton" target="_blank">C.A.P</td>
    						<td>Wednesday 8pm 2 courts</td>
    						<td>Wednesday</td>
    						<td>Wimslow Preparatory School, Grove Avenue, Wilmslow, SK9 5EG</td>
    					</tr>
    					<tr>
    						<td><a href="http://homepage.ntlworld.com/paul.robinson700" target="_blank">Canute</a></td>
    						<td>Wednesday 8pm 2 courts</td>
    						<td>Monday 8pm</td>
    						<td>Egerton Youth Club, Mereheath Lane, Knutsford, WA16 6SL</td>
    					</tr>
    					<tr>
    						<td><a href="http://carringtonbc.co.uk/" target="_blank">Carrington</a></td>
    						<td>Monday 7pm 2 courts</td>
    						<td>Monday 7pm</td>
    						<td>St. James High School, St. James Way, Cheadle Hulme, SK8 6PZ</td>
    					</tr>
    					<tr>
    						<td><a href="http://www.cheadlehulmebadmintonclub.org.uk" target="_blank">Cheadle Hulme</a></td>
    						<td>Wednesday 8pm 2 courts</td>
    						<td>Monday 8pm</td>
    						<td>Ladybridge Park Residents Club, Edebridge Road, Cheadle Hulme, SK8 5PX</td>
    					</tr>
    					<tr>
    						<td><a href="http://collegegreenbadminton.vpweb.co.uk/" target="_blank">College Green</a></td>
    						<td>Wednesday 2 courts 7.30pm</td>
    						<td>Monday 7.30pm</td>
    						<td>Matches: Macclesfield Academy, Park Lane, Macclesfield,SK11 8JR
    Club: Tytherington High School</td>
    					</tr>
    					<tr>
    						<td>David Lloyd</td>
    						<td>Friday 2 courts 7.30pm</td>
    						<td>NA</td>
    						<td>David Lloyd Leisure, Royal Crescent, Cheadle Hulme, SK8 3FL</td>
    					</tr>
    					<tr>
    						<td><a href="http://www.disleysport.org/sport/badminton/" target="_blank">Disley</a></td>
    						<td>A team: Wednesday
    B team: Tuesday
    C team: Thursday
    1 court 7pm</td>
    						<td>Monday 7pm</td>
    						<td>Disley Amalgamated Sports Club, Disley, SK12 2JR</td>
    					</tr>
    					<tr>
    						<td><a href="http://domebadminton.co.uk/" target="_blank">Dome</a></td>
    						<td>Wednesday 2 courts 7.30pm</td>
    						<td>Wednesday 7.30pm</td>
    						<td>William Hulme Grammar School, Spring Bridge Road, Whalley Range, M16 8PR</td>
    					</tr>
    					<tr>
    						<td><a href="http://www.ghap-badminton.co.uk/" target="_blank">G.H.A.P</a></td>
    						<td>Tuesday 7.30pm 2 courts</td>
    						<td>NA</td>
    						<td>Old Trafford Sports Barn, Seymour Park, Carver Street, Manchester, M16 9PQ</td>
    					</tr>
    					<tr>
    						<td>Macclesfield</td>
    						<td>Monday 8pm 2 courts</td>
    						<td>NA</td>
    						<td>Bramhall Recreation Centre, Seal Road, Bramhall, SK7 2JR</td>
    					</tr>
    					<tr>
    						<td><a href="http://manorbadminton.weebly.com/" target="_blank">Manor</a></td>
    						<td>Tuesday 7.30pm 2 courts</td>
    						<td>Tuesday 7.30pm</td>
    						<td>St. James High School, St. James Way, Cheadle Hulme, SK8 6PZ</td>
    					</tr>
    					<tr>
    						<td><a href="http://mellorbadminton.org.uk/" target="_blank">Mellor</a></td>
    						<td>Thursday 7pm 1 court</td>
    						<td>Monday & Wednesday 7pm</td>
    						<td>Mellor Sports Club, 215 Longhurst Lane, Mellor, SK6 5PN</td>
    					</tr>
    					<tr>
    						<td>New Mills</td>
    						<td>Thursday 7pm 1 court</td>
    						<td>Thursday</td>
    						<td>New Mills Town Hall, Market Stree, New Mills, SK22 4AT</td>
    					</tr>
    					<tr>
    						<td><a href="http://www.parrswoodbadminton.co.uk/" target="_blank">Parrs Wood</a></td>
    						<td>Tuesday 8pm 2 courts</td>
    						<td>Tuesday 8pm</td>
    						<td>Parrswood Sports Centre, Parrswood High School, Wilmslow Road, East Didsbury, M20 5PG</td>
    					</tr>
    					<tr>
    						<td>Poynton</td>
    						<td>Monday 7.30pm 2 courts
    Friday 8pm 2 courts</td>
    						<td>Mondays 8pm</td>
    						<td>Poynton Civic Hall, Off Park Lane, Poynton, SK12 1RB</td>
    					</tr>
    					<tr>
    						<td>Racketeer</td>
    						<td>Monday 7.30pm 1 court start, 2 from 8pm</td>
    						<td>NA</td>
    						<td>David Lloyd Leisure, Royal Crescent, Cheadle Hulme, SK8 3FL</td>
    					</tr>
    					<tr>
    						<td><a href="http://www.shellbadminton.co.uk/" target="_blank">Shell</a></td>
    						<td>Wednesday 2 courts 7pm</td>
    						<td>Wednesday 8pm</td>
    						<td>Cheadle Hulme High School, Woods Lane, Cheadle Hulme, SK8 7JX</td>
    					</tr>
    					<tr>
    						<td><a href="http://syddalpark.org.uk/" target="_blank">Syddal Park</a></td>
    						<td>Sunday 7pm</td>
    						<td>Sunday 8pm</td>
    						<td>Bramhall Recreation Centre, Seal Road, Bramhall, SK7 2JR</td>
    					</tr>
    					<tr>
    						<td>Tatton</td>
    						<td>Sunday 7.30pm</td>
    						<td>NA</td>
    						<td>Egerton Youth Club, Mereheath Lane, Knutsford, WA16 6SL</td>
    					</tr>
    				</tbody>
          </table>

        </div>

<% include footer.ejs %>


</body>
</html>
