<div class="modal" id="GeneralNoteModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Player Standings</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-left">
        It’s great to see badminton back, and so many teams fulfilling fixtures as best as they can.<br /><br />
        This is a gentle reminder that this season is somewhat of a one-off, and while flexibility is important, the League Committee is also doing its best to both encourage play and be a fair as possible.<br /><br />
        We recognise that a number of clubs have lost/gained members, and have had little to no time to review player standards pre-season.  It’s also clear previously known players may have not started at their usual standard, but are returning to form.<br /><br />
        We would advise all clubs to take the impending Christmas break as a chance to review player standings and make changes where necessary to ensure the spirit of league rules about player strength order is being kept.<br /><br />
        Given the unusual nature of this season, the Committee would like to avoid the situation where points need to be deducted<br /><br />
        Finally – with this being a somewhat unusual season, and as previously mentioned at the fixtures meeting – the divisional structure will be reviewed before the start of next season when teams that have been unable to play this season may return at an appropriate place.  Therefore promotion/relegation will be dependent on this and ensuring that we have balanced divisions in terms of the number of teams.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>