<div class="modal" id="GeneralNoteModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Tournament Report</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-left">
        Two players took home two titles, Jen Szczepaniak Sloane (Alderley Park) in the Women's Singles and Doubles and Ian Lucas-Bond (GHAP) in the 'B' Mens Doubles and Supervet Mens Doubles.<br /><br />
        The closest finals came in the Mens Doubles where Dave Edgar and Paul Hutchinson (Racketeer) were pushed all the way by Oliver Bramley and Remo Datta (Parrs Wood) winning 21-18 in the third and the 'B' Mens Singles where Richard Jakeman (Canute) also won 21-18 in the third against Myles Malloy-Sherratt (Shell). Myles had already lost another 3 setter in the 'B' Mens Doubles final playing with Anthony Garwood against Ian Lucas-Bond and Alistair Cernik. However it was third time lucky for Myles when he took the 'C' Mens Doubles with Peter Gartside.<br /><br />
        The 'B' Mixed had several good pairs and some very tight matches, though an unfortunate injury to Jo Fitzgerald (Syddal Park) in the womens doubles meant that the final couldn't be played with Judith Peatman and Dave Haigh (College Green), who had beaten the top seeds in the semis, taking the title. Jo and partner Rob Herriott had already won the Open Mixed the week before and were looking to do the double.<br /><br />
        The SuperVet Mens Doubles was taken in 2 close sets by Ian Lucas Bond and Steve Morris, just edging home against Phil Santana-Reedy and Dave Forester (Aerospace).<br /><br />
        In the Open Mens Singles experience overcame youth with Joe Lightford winning another 3 setter in the final against Zak Murgatroid (Syddal Park).<br /><br />
        Thanks to Phil Santana-Reedy for his help and Yehlex for their sponsorship of the event.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>