<% include header.ejs %>
<% include nav.ejs %>

<h1>Welcome Back!</h1>
        <p class="lead">New season, new site, new look! <br />
        I hope you find everything you're looking for here as you did before.<br />
        If there's anything that's missing, let me know.<br />
        Neil</p>
        <h3>Recent updates</h3>
        <p>All the fixtures are now online and the tables are up to date for the new season.<br />
        Also, thanks to Darren Corner from New Mills for our new background image.</p>

<% include footer.ejs %>


</body>
</html>
