<div class="modal" id="JuniorTournamentModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Stockport Junior Tournament</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-left">
        Boys’ &amp; Girls’ Singles and Boys’ &amp; Girls’ Doubles<br />
        Age Groups: Under 12, Under 15 and Under 18<br />
        Poynton Leisure Centre, Yew Tree Lane, Poynton, Cheshire SK12 1PU<br />
        Tournament Date: Saturday, 14 March 2020 - Closing Date for Entries: 7 March 2020<br />
        Entry Fee: &pound;7.50 per person per event<br />
        Start Time will be approximately 9.00am and ending by 5pm.<br />
        <a href="<%= static_path %>/beta/docs/Junior-Tournament-Entry-Form-2020.docx" >Entry Form</a>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>