<%- include('header.ejs') %>
<%- include('nav.ejs') %>

<h1>Messer Trophy A-Section</h1>
<div class="row col-12 bracket-container">
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">College Green A (-9) vs<br />Syddal Park B (-6)
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-6">Dome A (-3) vs<br />Parrswood B (-3)
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-13">Racketeers A(-12H) vs<br />Aerospace A (Scr)
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13">Parrswood A(Scr H) vs<br />Macclesfield  A (-9)
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">GHAP A(-6) vs<br />Racketeers B(-3H)
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Canute A(-9) vs<br />
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 "> vs<br />Alderley Park A (Scr H) 
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Syddal Park A (-6H) vs<br />College Green B (Scr)
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">David Lloyd A (-3) vs<br />Shell B (-6)
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Shell A (Scr H) vs<br />Alderley Park B (Scr) 
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-25 ">vs<br />
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-25 ">vs<br />
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-25 ">vs<br />
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-25 ">vs<br />
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-50 ">vs<br />
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-50 ">vs<br />
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-100">vs<br /></div>
    </div>
</div>

<%- include('footer.ejs') %>


</body>
</html>
