<%- include('offline-header.ejs') %>
<%- include('nav.ejs') %>

<h1>Messer Trophy A-Section</h1>
<div class="row col-12 bracket-container">
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">Syddal A(-7H) vs<br />Racketeers A(-14H) <strong>?-?</strong>
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-6">Canute(-3) vs<br />Parrswood A(-2H) <strong>11-4</strong>
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-13">College Green A(Scr) vs<br />Shell B(+1H) <strong>14-1</strong>
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13">Syddal C(+3) vs<br />Dome A(+3) <strong>10-5</strong>
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Alderley Park A(+1H) vs<br />College Green B(Scr) <strong>?-?</strong>
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Shell A(-7H) vs<br />Syddal A(-7H) <strong>2-13</strong>
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Canute(-3) vs<br />Disley A(-3) <strong>W/O</strong>
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Racketeers B(-2H) vs<br />David Lloyd A(+3) <strong>?-?</strong>
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Syddal B(+1H) vs<br />GHAP A(-3) <strong>7-8</strong>
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Macclesfield A(-2H) vs<br />Parswood B(Scr) <strong>2-13</strong>
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-25 ">Colleg Green A(Scr) vs<br />Syddal C(+3)
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-25 ">Alderley Park A(+1H) vs<br />Syddal A(-7H)
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-25 ">Canute(-3) vs<br />David Lloyd A(+3)
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-25 ">GHAP A(-3) vs<br />Parswood B(Scr)
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-50 ">Fixture 4 vs<br />Fixture 5
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-50 ">Fixture 6 vs<br />Fixture 7
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-100">Fixture 2 vs<br />Fixture 3</div>
    </div>
</div>

<%- include('footer.ejs') %>


</body>
</html>
