<% include offline-header.ejs %>
<%- include nav.ejs %>

<h1>Messer Trophy</h1>

<ol id="rules">
  <li>The competition will be played annually in two sections.</li>
  <li>Every team currently engaged in the League will be entered and expected to play.</li>
  <li>The sections will be:
    <ul>
      <li>"A" for Premier, First and top 1/2 of Second Division ONLY</li>
      <li>"B" for remaining Divisions</li>
    </ul>
    At the discretion of the Executive Committee any team in the lower divisions considered to be stronger than its allocated Division will be placed in the "A" section with an appropriate handicap.<br />
    The winners of the two sections will play off to determine the overall winner of the Messer Trophy.</li>
  <li>The draw will be made at the beginning of the competition which
    will be played to the tournament knock-out system. In the 1st
    round the team named first will be the home team. In subsequent
    rounds the team which has had the least home draws in previous
    rounds will become the home team. Should both teams have
    had an equal number of home draws then the first-named team
    becomes the home team. Section finals and play-off will be
    played on neutral courts.</li>
  <li>The home team will be responsible for arranging dates of
    matches. If there are any difficulties over the venue, the match
    may be played on a neutral court or on the opponent's court,
    subject to an agreement by the two captains involved. Matches
    in all rounds are to be played by the stipulated dates. The home
    team shall offer two dates which must be at least one week apart
    and be within the completion date.</li>
  <li>Teams will be allocated a handicap determined by their Division.
    The Executive Committee have the right to alter the handicap of
    any team at any time during the competition. Handicaps will be
    notified in the League Handbook and on the official match card.</li>
  <li>Teams will comprise 3 Ladies and 3 Men.
    Matches will consist of 9 events; Men's Doubles, Ladies Doubles
    and Mixed Doubles. Level Doubles will be 2 games of 21 points.
    Mixed Doubles will be 1 game of 21 points, making 15 games in
    total. For Mixed Doubles events No. 1 man must play with No.
    1 Lady, No. 2 man with No. 2 Lady, etc. as shown on the match
    card.
    Under rally scoring, where the handicap is only points handicap
    (either + or -) for a team, that team will score a point every time
    they win a point whether they are serving or not. Where a team
    has a Hand handicap, this will mean that they can only score a
    point when they are serving. To ensure that each team member
    serves in turn they will need to swap over every time when they
    receive the serve back. For example, if player A serves from the
    right hand side of the court at a score of 4 but they lose the point,
    players stay in their position. However when they get the serve
    back, say by winning the next point, their score would still be 4,
    then the players would swap so that player B will serve from the
    right hand side of the court.
    Events will be played in order of the matchcard, unless otherwise
    agreed by the two captains. Extended play is not allowed.</li>
  <li>The general rules governing normal League play will apply.</li>
  <li>As from 1st January of any year players competing in the Messer
    Trophy must have played at least 3 league matches.</li>
  <li>Team Captains must declare members of their team on the
    official score card before play commences.</li>
  <li>In the event of a team not being able to field a full team the absent
    player(s) must be declared and nominated for events. Absent
    player(s) must be nominated for 3rd mixed (even if they would
    normally play in a higher pairing). In the event of absent players
    from both teams being nominated for the same event, that event
    will be void.</li>
  <li>If, because of conceded or void events, the match finishes level,
    games won will decide the result. In the event of the game scores
    being equal the match will be decided on total aces. Negative
    game scores will count as a minus when calculating the total.</li>
  <li>No player will be allowed to play for a team of lower status than
    that for which he/she is currently registered for League play. If
    an ineligible player takes part the whole match will be forfeited.</li>
  <li>After each match the Captain of the winning team will be
    responsible for e-mailing and scanning the official match card to
    the competition organiser. The match card must be received by
    the organiser within seven days of the match having been
    played. If the match is played in the last week of the round
    completion date,then the result must be notified to the competition
    organiser by the round completion date. Failure to comply with
    this rule may result in both teams being scratched from the
    competition.</li>
  <li>The visiting team will provide the shuttles in all rounds up to the
    finals.</li>
  <li>The organiser for the Messer Trophy will be appointed at the
    League AGM.</li>
  <li>The decision of the Executive Committee in any dispute will be
    final. All disputes should initially be addressed to the competition
    organiser.</li>
</ol>


<%- include footer.ejs %>


</body>
</html>
