<%- include('header.ejs') %>
<%- include('nav.ejs') %>

<h1>Messer Trophy B-Section</h1>
<div class="row col-12 bracket-container">
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">Mellor C(+3) vs<br />Mellor B(-3) 
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;<br />
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-13">Shell C (-12) vs<br />Parrswood C (-6)
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13">Syddal Park C (-12) vs<br />Manor A (-9)
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">GHAP B(-9) vs<br />Tatton A (Scr)
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Disley B (-3) vs <br />?
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">College Green C (-6) vs<br /> Cheadle Hulme B (+3)
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Cheadle Hulme A (-9) vs <br />Dome B (Scr) 
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">College Green D (Scr) vs<br />Macclesfield B (-3)
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Mellor A (-12) vs<br /> Alderley Park C (Scr)
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-25 ">vs<br />
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-25 ">vs<br />
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-25 ">vs<br /> 
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-25 ">vs<br />
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-50 "> vs<br />
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-50 ">vs<br />
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-100"> vs<br /></div>
    </div>
</div>

<%- include('footer.ejs') %>


</body>
</html>
