<%- include('offline-header.ejs') %>
<%- include('nav.ejs') %>

<h1>Messer Trophy B-Section</h1>
<div class="row col-12 bracket-container">
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">Tatton(+2) vs<br />Manor B(+5) <strong>?-?</strong>
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-6">Macclesfield B(-1) vs<br />Mellor C(+5) <strong>6-9</strong>
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
        <div class="row align-middle d-flex align-items-center h-6">&nbsp;</div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-13">Mellor B(-1) vs<br />Mellor A(-10) <strong>3-8</strong>
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13">College Green D(+2) vs<br />College Green C(-4) <strong>7-8</strong>
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Cheadle Hulme A(-7) vs<br />Aerospace(-7) <strong>?-?</strong>
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Disley B(-7) vs<br />Tatton(+2) <strong>?-?</strong>
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Mellor C(+5) vs<br />Dome B(-4) <strong>7-8</strong>
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Parrswood C(+2) vs<br />Alderley Park C(-1) <strong>14-1</strong>
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Cheadle Hulme B(+5) vs<br />Alderley Park B(-10) <strong>?-?</strong>
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-13 ">Manor A(-4) vs<br />Shell C(-10) <strong>11-4</strong>
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-25 ">Mellor A(-10) vs<br />College Green C(-4) <strong>8-7</strong>
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-25 ">Cheadle Hulme A(-7) vs<br />Disley B(-7) <strong>8-7</strong>
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-25 ">Dome B(-4) vs<br />Parrswood C(+2) <strong>3-12</strong>
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-25 ">Alderley Park B(-10) vs<br />Manor A(-4) 
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-50 ">Mellor A(-10) vs<br />Cheadle Hulme A(-7)
            <div style="" class="bracket odd-fix d-flex flex-fill">&nbsp;</div>
        </div>
        <div class="row align-middle d-flex align-items-center h-50 ">Parrswood C(+2) vs<br />Alderley Park B(-10)
            <div style="" class="bracket even-fix d-flex flex-fill">&nbsp;</div>
        </div>
    </div>
    <div class="col">
        <div class="row align-middle d-flex align-items-center h-100">Fixture 2 vs<br />Fixture 3</div>
    </div>
</div>

<%- include('footer.ejs') %>


</body>
</html>
