<% include offline-header.ejs %>
<%- include('nav.ejs') %>

<h1 class="mh-100">Privacy Policy for Stockport and District Badminton League</h1>
<div class="row text-left col-12">
    <p>Your privacy is important to the Stockport and District Badminton League (SDBL). We developed this Privacy Policy to provide you with information on how we process your personal data when you join the league through one of our affiliated clubs.</p>
    
    <p><strong class="font-weight-bold">Personal data that is processed when you are registered to play in the league</strong><br />
    When you are registered to play in the league we collect the following information: First Name*, Last Name*, Phone Number (Daytime, Evening & Mobile), Email.<br />
    * Minimum Required.</p>
    
    <p>SDBL holds this information to enable the processing of league match results. Where an Email address is provided, this enables the league executive to communicate directly with individual members (e.g. validation of match results, distribution of league tables, regular communications).</p>
    
    <p><strong class="font-weight-bold">Personal data that is processed when you play in a league match</strong><br />
    When you play in a league match, the results are entered onto the league web-site. We record your playing partner and the result of each match you play in. SDBL holds this information to provide a results service, league tables and playing statistics to its members, and to provide information to support the Tournament Handicap Committee.</p>
    
    <p><strong class="font-weight-bold">Data published on the league web-site</strong><br />    
    Other than the individual match results, the only personal data published on the league web-site is from the Club Administrators (Club Secretary and Match Secretaries), and the League Executive.</p>
    
    <p>
        <strong class="font-weight-bold">
            Other Service Providers</strong><br />
            
            SDBL only use your data for the purpose of administering the league, and the data held isn’t shared with anyone else.
        
    </p>
    
    <p>
        <strong class="font-weight-bold">
            Retention of Personal Data</strong><br />
            
            SDBL will retain your personal data whilst you remain an active member of one of our affiliated clubs. Personal data will be deleted from the web-site if an individual hasn’t been registered to play in the league, by one of the affiliated clubs, for two consecutive years.
        
    </p>
    
    <p><strong class="font-weight-bold">Your Rights</strong><br />
    
    You have the right under the General Data Protection Regulation to request from SDBL, access to, correction or deletion of your personal data, restriction of processing of your personal data, the right to object to processing of your personal data, and the right to lodge a complaint with a supervisory authority.</p>
</div>

<%- include('footer.ejs') %>


</body>
</html>
