<% include header.ejs %>
<% include nav.ejs %>

<h1>Division 2</h1>
<div class="table-responsive">
  <table class="table" id="results-table">
    <thead>
  <tr>
    <th>fixture-date</th>
    <th>home team</th>
    <th>away team</th>
    <th>score</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>13/09/2018</td>
    <td>Mellor A</td>
    <td>Shell C</td>
    <td></td>
  </tr>
  <tr>
    <td>19/09/2018</td>
    <td>Shell C</td>
    <td>College Green B</td>
    <td></td>
  </tr>
  <tr>
    <td>25/09/2018</td>
    <td>Aerospace A</td>
    <td>Shell C</td>
    <td></td>
  </tr>
  <tr>
    <td>25/09/2018</td>
    <td>Manor A</td>
    <td>CAP A</td>
    <td></td>
  </tr>
  <tr>
    <td>03/10/2018</td>
    <td>Parrswood B</td>
    <td>CAP A</td>
    <td></td>
  </tr>
  <tr>
    <td>09/10/2018</td>
    <td>Manor A</td>
    <td>Shell C</td>
    <td></td>
  </tr>
  <tr>
    <td>16/10/2018</td>
    <td>CAP A</td>
    <td>Shell C</td>
    <td></td>
  </tr>
  <tr>
    <td>17/10/2018</td>
    <td>College Green B</td>
    <td>Dome A</td>
    <td></td>
  </tr>
  <tr>
    <td>17/10/2018</td>
    <td>Parrswood B</td>
    <td>Manor A</td>
    <td></td>
  </tr>
  <tr>
    <td>18/10/2018</td>
    <td>Mellor A</td>
    <td>Aerospace A</td>
    <td></td>
  </tr>
  <tr>
    <td>24/10/2018</td>
    <td>Shell C</td>
    <td>Parrswood B</td>
    <td></td>
  </tr>
  <tr>
    <td>30/10/2018</td>
    <td>CAP A</td>
    <td>Mellor A</td>
    <td></td>
  </tr>
  <tr>
    <td>31/10/2018</td>
    <td>College Green B</td>
    <td>Manor A</td>
    <td></td>
  </tr>
  <tr>
    <td>06/11/2018</td>
    <td>Aerospace A</td>
    <td>College Green B</td>
    <td></td>
  </tr>
  <tr>
    <td>07/11/2018</td>
    <td>Dome A</td>
    <td>Shell C</td>
    <td></td>
  </tr>
  <tr>
    <td>07/11/2018</td>
    <td>Parrswood B</td>
    <td>Mellor A</td>
    <td></td>
  </tr>
  <tr>
    <td>09/11/2018</td>
    <td>David Lloyd A</td>
    <td>CAP A</td>
    <td></td>
  </tr>
  <tr>
    <td>10/11/2018</td>
    <td>Dome A</td>
    <td>Parrswood B</td>
    <td></td>
  </tr>
  <tr>
    <td>13/11/2018</td>
    <td>Aerospace A</td>
    <td>David Lloyd A</td>
    <td></td>
  </tr>
  <tr>
    <td>13/11/2018</td>
    <td>CAP A</td>
    <td>Dome A</td>
    <td></td>
  </tr>
  <tr>
    <td>14/11/2018</td>
    <td>College Green B</td>
    <td>Parrswood B</td>
    <td></td>
  </tr>
  <tr>
    <td>21/11/2018</td>
    <td>Parrswood B</td>
    <td>David Lloyd A</td>
    <td></td>
  </tr>
  <tr>
    <td>22/11/2018</td>
    <td>Mellor A</td>
    <td>Manor A</td>
    <td></td>
  </tr>
  <tr>
    <td>27/11/2018</td>
    <td>Manor A</td>
    <td>Parrswood B</td>
    <td></td>
  </tr>
  <tr>
    <td>27/11/2018</td>
    <td>CAP A</td>
    <td>David Lloyd A</td>
    <td></td>
  </tr>
  <tr>
    <td>28/11/2018</td>
    <td>College Green B</td>
    <td>CAP A</td>
    <td></td>
  </tr>
  <tr>
    <td>28/11/2018</td>
    <td>Dome A</td>
    <td>Mellor A</td>
    <td></td>
  </tr>
  <tr>
    <td>05/12/2018</td>
    <td>Dome A</td>
    <td>Manor A</td>
    <td></td>
  </tr>
  <tr>
    <td>07/12/2018</td>
    <td>David Lloyd A</td>
    <td>Shell C</td>
    <td></td>
  </tr>
  <tr>
    <td>11/12/2018</td>
    <td>Aerospace A</td>
    <td>Mellor A</td>
    <td></td>
  </tr>
  <tr>
    <td>12/12/2018</td>
    <td>College Green B</td>
    <td>Shell C</td>
    <td></td>
  </tr>
  <tr>
    <td>09/01/2019</td>
    <td>Shell C</td>
    <td>David Lloyd A</td>
    <td></td>
  </tr>
  <tr>
    <td>09/01/2019</td>
    <td>Dome A</td>
    <td>College Green B</td>
    <td></td>
  </tr>
  <tr>
    <td>09/01/2019</td>
    <td>Parrswood B</td>
    <td>Aerospace A</td>
    <td></td>
  </tr>
  <tr>
    <td>16/01/2019</td>
    <td>College Green B</td>
    <td>Aerospace A</td>
    <td></td>
  </tr>
  <tr>
    <td>16/01/2019</td>
    <td>Parrswood B</td>
    <td>Dome A</td>
    <td></td>
  </tr>
  <tr>
    <td>17/01/2019</td>
    <td>Mellor A</td>
    <td>CAP A</td>
    <td></td>
  </tr>
  <tr>
    <td>22/01/2019</td>
    <td>Manor A</td>
    <td>Mellor A</td>
    <td></td>
  </tr>
  <tr>
    <td>22/01/2019</td>
    <td>CAP A</td>
    <td>Aerospace A</td>
    <td></td>
  </tr>
  <tr>
    <td>23/01/2019</td>
    <td>Parrswood B</td>
    <td>College Green B</td>
    <td></td>
  </tr>
  <tr>
    <td>25/01/2019</td>
    <td>David Lloyd A</td>
    <td>Aerospace A</td>
    <td></td>
  </tr>
  <tr>
    <td>29/01/2019</td>
    <td>Manor A</td>
    <td>College Green B</td>
    <td></td>
  </tr>
  <tr>
    <td>30/01/2019</td>
    <td>College Green B</td>
    <td>David Lloyd A</td>
    <td></td>
  </tr>
  <tr>
    <td>30/01/2019</td>
    <td>Shell C</td>
    <td>Mellor A</td>
    <td></td>
  </tr>
  <tr>
    <td>05/02/2019</td>
    <td>Manor A</td>
    <td>Aerospace A</td>
    <td></td>
  </tr>
  <tr>
    <td>05/02/2019</td>
    <td>CAP A</td>
    <td>College Green B</td>
    <td></td>
  </tr>
  <tr>
    <td>06/02/2019</td>
    <td>Parrswood B</td>
    <td>Shell C</td>
    <td></td>
  </tr>
  <tr>
    <td>07/02/2019</td>
    <td>Mellor A</td>
    <td>Dome A</td>
    <td></td>
  </tr>
  <tr>
    <td>08/02/2019</td>
    <td>David Lloyd A</td>
    <td>College Green B</td>
    <td></td>
  </tr>
  <tr>
    <td>13/02/2019</td>
    <td>College Green B</td>
    <td>Mellor A</td>
    <td></td>
  </tr>
  <tr>
    <td>13/02/2019</td>
    <td>Dome A</td>
    <td>CAP A</td>
    <td></td>
  </tr>
  <tr>
    <td>19/02/2019</td>
    <td>Manor A</td>
    <td>Dome A</td>
    <td></td>
  </tr>
  <tr>
    <td>19/02/2019</td>
    <td>CAP A</td>
    <td>Parrswood B</td>
    <td></td>
  </tr>
  <tr>
    <td>20/02/2019</td>
    <td>Shell C</td>
    <td>CAP A</td>
    <td></td>
  </tr>
  <tr>
    <td>22/02/2019</td>
    <td>David Lloyd A</td>
    <td>Dome A</td>
    <td></td>
  </tr>
  <tr>
    <td>26/02/2019</td>
    <td>Aerospace A</td>
    <td>Dome A</td>
    <td></td>
  </tr>
  <tr>
    <td>28/02/2019</td>
    <td>Mellor A</td>
    <td>David Lloyd A</td>
    <td></td>
  </tr>
  <tr>
    <td>05/03/2019</td>
    <td>Manor A</td>
    <td>David Lloyd A</td>
    <td></td>
  </tr>
  <tr>
    <td>08/03/2019</td>
    <td>David Lloyd A</td>
    <td>Mellor A</td>
    <td></td>
  </tr>
  <tr>
    <td>12/03/2019</td>
    <td>Aerospace A</td>
    <td>Parrswood B</td>
    <td></td>
  </tr>
  <tr>
    <td>13/03/2019</td>
    <td>Shell C</td>
    <td>Dome A</td>
    <td></td>
  </tr>
  <tr>
    <td>14/03/2019</td>
    <td>Mellor A</td>
    <td>Parrswood B</td>
    <td></td>
  </tr>
  <tr>
    <td>19/03/2019</td>
    <td>Aerospace A</td>
    <td>CAP A</td>
    <td></td>
  </tr>
  <tr>
    <td>20/03/2019</td>
    <td>Shell C</td>
    <td>Manor A</td>
    <td></td>
  </tr>
  <tr>
    <td>22/03/2019</td>
    <td>David Lloyd A</td>
    <td>Parrswood B</td>
    <td></td>
  </tr>
  <tr>
    <td>26/03/2019</td>
    <td>Aerospace A</td>
    <td>Manor A</td>
    <td></td>
  </tr>
  <tr>
    <td>27/03/2019</td>
    <td>Dome A</td>
    <td>David Lloyd A</td>
    <td></td>
  </tr>
  <tr>
    <td>28/03/2019</td>
    <td>Mellor A</td>
    <td>College Green B</td>
    <td></td>
  </tr>
  <tr>
    <td>05/04/2019</td>
    <td>David Lloyd A</td>
    <td>Manor A</td>
    <td></td>
  </tr>
  <tr>
    <td>10/04/2019</td>
    <td>Dome A</td>
    <td>Aerospace A</td>
    <td></td>
  </tr>
  <tr>
    <td>16/04/2019</td>
    <td>CAP A</td>
    <td>Manor A</td>
    <td></td>
  </tr>
  <tr>
    <td>17/04/2019</td>
    <td>Shell C</td>
    <td>Aerospace A</td>
    <td></td>
  </tr>
</tbody>
  </table>
</div>

<% include footer.ejs %>
<% include datatables.ejs %>


</body>
</html>
