<%- include header.ejs %>
<%- include nav.ejs %>

<h1>Division 4</h1>
        <div class="table-responsive">
          <table class="table" id="results-table">
            <thead>
					<tr>
						<th>fixture-date</th>
						<th>home team</th>
						<th>away team</th>
						<th>score</th>
					</tr>
				</thead>
        <tbody>
					<tr>
						<td>05/09/2018</td>
						<td>Cheadle Hulme A</td>
						<td>Mellor C</td>
						<td></td>
					</tr>
					<tr>
						<td>11/09/2018</td>
						<td>Mellor C</td>
						<td>Mellor B</td>
						<td></td>
					</tr>
					<tr>
						<td>12/09/2018</td>
						<td>Cheadle Hulme A</td>
						<td>Manor C</td>
						<td></td>
					</tr>
					<tr>
						<td>17/09/2018</td>
						<td>Bramhall Village B</td>
						<td>Mellor C</td>
						<td></td>
					</tr>
					<tr>
						<td>18/09/2018</td>
						<td>Manor C</td>
						<td>College Green D</td>
						<td></td>
					</tr>
					<tr>
						<td>19/09/2018</td>
						<td>Disley C</td>
						<td>Disley D</td>
						<td></td>
					</tr>
					<tr>
						<td>20/09/2018</td>
						<td>Mellor B</td>
						<td>Disley C</td>
						<td></td>
					</tr>
					<tr>
						<td>26/09/2018</td>
						<td>Disley C</td>
						<td>Cheadle Hulme A</td>
						<td></td>
					</tr>
					<tr>
						<td>27/09/2018</td>
						<td>Mellor C</td>
						<td>Manor C</td>
						<td></td>
					</tr>
					<tr>
						<td>27/09/2018</td>
						<td>Disley D</td>
						<td>Bramhall Village B</td>
						<td></td>
					</tr>
					<tr>
						<td>03/10/2018</td>
						<td>College Green D</td>
						<td>Bramhall Village B</td>
						<td></td>
					</tr>
					<tr>
						<td>04/10/2018</td>
						<td>Mellor C</td>
						<td>Disley D</td>
						<td></td>
					</tr>
					<tr>
						<td>11/10/2018</td>
						<td>Mellor B</td>
						<td>College Green D</td>
						<td></td>
					</tr>
					<tr>
						<td>12/10/2018</td>
						<td>Poynton A</td>
						<td>Disley D</td>
						<td></td>
					</tr>
					<tr>
						<td>15/10/2018</td>
						<td>Bramhall Village B</td>
						<td>Cheadle Hulme A</td>
						<td></td>
					</tr>
					<tr>
						<td>16/10/2018</td>
						<td>Manor C</td>
						<td>Disley C</td>
						<td></td>
					</tr>
					<tr>
						<td>17/10/2018</td>
						<td>College Green D</td>
						<td>Disley D</td>
						<td></td>
					</tr>
					<tr>
						<td>24/10/2018</td>
						<td>Disley C</td>
						<td>College Green D</td>
						<td></td>
					</tr>
					<tr>
						<td>25/10/2018</td>
						<td>Mellor B</td>
						<td>Mellor C</td>
						<td></td>
					</tr>
					<tr>
						<td>25/10/2018</td>
						<td>Disley D</td>
						<td>Cheadle Hulme A</td>
						<td></td>
					</tr>
					<tr>
						<td>29/10/2018</td>
						<td>Bramhall Village B</td>
						<td>Poynton A</td>
						<td></td>
					</tr>
					<tr>
						<td>31/10/2018</td>
						<td>College Green D</td>
						<td>Cheadle Hulme A</td>
						<td></td>
					</tr>
					<tr>
						<td>01/11/2018</td>
						<td>Mellor B</td>
						<td>Disley D</td>
						<td></td>
					</tr>
					<tr>
						<td>08/11/2018</td>
						<td>Mellor C</td>
						<td>College Green D</td>
						<td></td>
					</tr>
					<tr>
						<td>08/11/2018</td>
						<td>Disley D</td>
						<td>Disley C</td>
						<td></td>
					</tr>
					<tr>
						<td>12/11/2018</td>
						<td>Bramhall Village B</td>
						<td>Manor C</td>
						<td></td>
					</tr>
					<tr>
						<td>14/11/2018</td>
						<td>College Green D</td>
						<td>Mellor B</td>
						<td></td>
					</tr>
					<tr>
						<td>20/11/2018</td>
						<td>Manor C</td>
						<td>Disley D</td>
						<td></td>
					</tr>
					<tr>
						<td>21/11/2018</td>
						<td>Disley C</td>
						<td>Poynton A</td>
						<td></td>
					</tr>
					<tr>
						<td>21/11/2018</td>
						<td>Cheadle Hulme A</td>
						<td>Mellor B</td>
						<td></td>
					</tr>
					<tr>
						<td>26/11/2018</td>
						<td>Bramhall Village B</td>
						<td>Disley C</td>
						<td></td>
					</tr>
					<tr>
						<td>28/11/2018</td>
						<td>Disley C</td>
						<td>Mellor C</td>
						<td></td>
					</tr>
					<tr>
						<td>28/11/2018</td>
						<td>College Green D</td>
						<td>Poynton A</td>
						<td></td>
					</tr>
					<tr>
						<td>06/12/2018</td>
						<td>Mellor C</td>
						<td>Poynton A</td>
						<td></td>
					</tr>
					<tr>
						<td>06/12/2018</td>
						<td>Disley D</td>
						<td>College Green D</td>
						<td></td>
					</tr>
					<tr>
						<td>10/12/2018</td>
						<td>Poynton A</td>
						<td>Bramhall Village B</td>
						<td></td>
					</tr>
					<tr>
						<td>12/12/2018</td>
						<td>College Green D</td>
						<td>Disley C</td>
						<td></td>
					</tr>
					<tr>
						<td>13/12/2018</td>
						<td>Mellor B</td>
						<td>Manor C</td>
						<td></td>
					</tr>
					<tr>
						<td>19/12/2018</td>
						<td>Cheadle Hulme A</td>
						<td>Poynton A</td>
						<td></td>
					</tr>
					<tr>
						<td>07/01/2019</td>
						<td>Bramhall Village B</td>
						<td>College Green D</td>
						<td></td>
					</tr>
					<tr>
						<td>08/01/2019</td>
						<td>Manor C</td>
						<td>Poynton A</td>
						<td></td>
					</tr>
					<tr>
						<td>10/01/2019</td>
						<td>Mellor B</td>
						<td>Cheadle Hulme A</td>
						<td></td>
					</tr>
					<tr>
						<td>14/01/2019</td>
						<td>Poynton A</td>
						<td>Mellor B</td>
						<td></td>
					</tr>
					<tr>
						<td>16/01/2019</td>
						<td>College Green D</td>
						<td>Manor C</td>
						<td></td>
					</tr>
					<tr>
						<td>17/01/2019</td>
						<td>Disley D</td>
						<td>Mellor C</td>
						<td></td>
					</tr>
					<tr>
						<td>24/01/2019</td>
						<td>Mellor C</td>
						<td>Disley C</td>
						<td></td>
					</tr>
					<tr>
						<td>25/01/2019</td>
						<td>Poynton A</td>
						<td>Cheadle Hulme A</td>
						<td></td>
					</tr>
					<tr>
						<td>29/01/2019</td>
						<td>Manor C</td>
						<td>Bramhall Village B</td>
						<td></td>
					</tr>
					<tr>
						<td>31/01/2019</td>
						<td>Disley D</td>
						<td>Mellor B</td>
						<td></td>
					</tr>
					<tr>
						<td>04/02/2019</td>
						<td>Bramhall Village B</td>
						<td>Disley D</td>
						<td></td>
					</tr>
					<tr>
						<td>06/02/2019</td>
						<td>Disley C</td>
						<td>Manor C</td>
						<td></td>
					</tr>
					<tr>
						<td>11/02/2019</td>
						<td>Poynton A</td>
						<td>Disley C</td>
						<td></td>
					</tr>
					<tr>
						<td>13/02/2019</td>
						<td>College Green D</td>
						<td>Mellor C</td>
						<td></td>
					</tr>
					<tr>
						<td>13/02/2019</td>
						<td>Cheadle Hulme A</td>
						<td>Bramhall Village B</td>
						<td></td>
					</tr>
					<tr>
						<td>20/02/2019</td>
						<td>Disley C</td>
						<td>Mellor B</td>
						<td></td>
					</tr>
					<tr>
						<td>21/02/2019</td>
						<td>Disley D</td>
						<td>Manor C</td>
						<td></td>
					</tr>
					<tr>
						<td>27/02/2019</td>
						<td>Cheadle Hulme A</td>
						<td>Disley C</td>
						<td></td>
					</tr>
					<tr>
						<td>01/03/2019</td>
						<td>Poynton A</td>
						<td>Manor C</td>
						<td></td>
					</tr>
					<tr>
						<td>04/03/2019</td>
						<td>Bramhall Village B</td>
						<td>Mellor B</td>
						<td></td>
					</tr>
					<tr>
						<td>11/03/2019</td>
						<td>Poynton A</td>
						<td>Mellor C</td>
						<td></td>
					</tr>
					<tr>
						<td>12/03/2019</td>
						<td>Manor C</td>
						<td>Cheadle Hulme A</td>
						<td></td>
					</tr>
					<tr>
						<td>21/03/2019</td>
						<td>Mellor C</td>
						<td>Bramhall Village B</td>
						<td></td>
					</tr>
					<tr>
						<td>27/03/2019</td>
						<td>Disley C</td>
						<td>Bramhall Village B</td>
						<td></td>
					</tr>
					<tr>
						<td>28/03/2019</td>
						<td>Disley D</td>
						<td>Poynton A</td>
						<td></td>
					</tr>
					<tr>
						<td>02/04/2019</td>
						<td>Manor C</td>
						<td>Mellor B</td>
						<td></td>
					</tr>
					<tr>
						<td>03/04/2019</td>
						<td>Cheadle Hulme A</td>
						<td>Disley D</td>
						<td></td>
					</tr>
					<tr>
						<td>04/04/2019</td>
						<td>Mellor C</td>
						<td>Cheadle Hulme A</td>
						<td></td>
					</tr>
					<tr>
						<td>08/04/2019</td>
						<td>Poynton A</td>
						<td>College Green D</td>
						<td></td>
					</tr>
					<tr>
						<td>11/04/2019</td>
						<td>Mellor B</td>
						<td>Bramhall Village B</td>
						<td></td>
					</tr>
					<tr>
						<td>18/04/2019</td>
						<td>Mellor B</td>
						<td>Poynton A</td>
						<td></td>
					</tr>
					<tr>
						<td>24/04/2019</td>
						<td>Cheadle Hulme A</td>
						<td>College Green D</td>
						<td></td>
					</tr>
					<tr>
						<td>30/04/2019</td>
						<td>Manor C</td>
						<td>Mellor C</td>
						<td></td>
					</tr>
				</tbody>
          </table>
        </div>

<%- include footer.ejs %>
<%- include datatables.ejs %>


</body>
</html>
