<% include header.ejs %>
<% include nav.ejs %>

<h1>Premier</h1>
        <div class="table-responsive">
          <table class="table" id="results-table">
            <thead>
              <tr>
                <th>fixture-date</th>
                <th>home team</th>
                <th>away team</th>
                <th>score</th>
              </tr>
            </thead>
            <tbody>
    					<tr>
    						<td>06/03/2019</td>
    						<td>Carrington A</td>
    						<td>Racketeers A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>10/09/2018</td>
    						<td>Racketeers B</td>
    						<td>Carrington A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>11/09/2018</td>
    						<td>Astrazeneca A</td>
    						<td>Racketeers A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>17/09/2018</td>
    						<td>Racketeers A</td>
    						<td>Astrazeneca A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>24/09/2018</td>
    						<td>Racketeers A</td>
    						<td>College Green A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>24/09/2018</td>
    						<td>Carrington A</td>
    						<td>Macclesfield A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>25/09/2018</td>
    						<td>Astrazeneca A</td>
    						<td>Racketeers B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>26/09/2018</td>
    						<td>Shell A</td>
    						<td>Shell B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>26/09/2018</td>
    						<td>College Green A</td>
    						<td>Syddal Park A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>30/09/2018</td>
    						<td>Syddal Park B</td>
    						<td>Astrazeneca A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>01/10/2018</td>
    						<td>Racketeers A</td>
    						<td>Racketeers B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>01/10/2018</td>
    						<td>Macclesfield A</td>
    						<td>College Green A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>07/10/2018</td>
    						<td>Syddal Park A</td>
    						<td>Macclesfield A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>08/10/2018</td>
    						<td>Racketeers A</td>
    						<td>Syddal Park B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>08/10/2018</td>
    						<td>Carrington A</td>
    						<td>College Green A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>09/10/2018</td>
    						<td>Astrazeneca A</td>
    						<td>Carrington A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>14/10/2018</td>
    						<td>Syddal Park B</td>
    						<td>Shell B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>15/10/2018</td>
    						<td>Racketeers A</td>
    						<td>Syddal Park A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>16/10/2018</td>
    						<td>Astrazeneca A</td>
    						<td>College Green A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>17/10/2018</td>
    						<td>Shell A</td>
    						<td>Carrington A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>23/09/2018</td>
    						<td>Syddal Park A</td>
    						<td>Syddal Park B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>22/10/2018</td>
    						<td>Macclesfield A</td>
    						<td>Shell B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>22/10/2018</td>
    						<td>Racketeers B</td>
    						<td>Syddal Park B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>23/10/2018</td>
    						<td>Astrazeneca A</td>
    						<td>Syddal Park A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>24/10/2018</td>
    						<td>College Green A</td>
    						<td>Racketeers A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>28/10/2018</td>
    						<td>Syddal Park A</td>
    						<td>Racketeers B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>04/11/2018</td>
    						<td>Syddal Park B</td>
    						<td>Macclesfield A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>05/11/2018</td>
    						<td>Racketeers A</td>
    						<td>Shell B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>07/11/2018</td>
    						<td>College Green A</td>
    						<td>Macclesfield A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>07/11/2018</td>
    						<td>Shell B</td>
    						<td>Shell A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>13/11/2018</td>
    						<td>Astrazeneca A</td>
    						<td>Shell A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>14/11/2018</td>
    						<td>Shell B</td>
    						<td>Carrington A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>19/11/2018</td>
    						<td>Racketeers A</td>
    						<td>Shell A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>19/11/2018</td>
    						<td>Carrington A</td>
    						<td>Syddal Park A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>20/11/2018</td>
    						<td>Astrazeneca A</td>
    						<td>Syddal Park B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>21/11/2018</td>
    						<td>College Green A</td>
    						<td>Carrington A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>26/11/2018</td>
    						<td>Racketeers B</td>
    						<td>Racketeers A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>27/11/2018</td>
    						<td>Astrazeneca A</td>
    						<td>Macclesfield A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>28/11/2018</td>
    						<td>Shell A</td>
    						<td>Racketeers B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>02/12/2018</td>
    						<td>Syddal Park B</td>
    						<td>Syddal Park A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>03/12/2018</td>
    						<td>Racketeers A</td>
    						<td>Macclesfield A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>05/12/2018</td>
    						<td>Shell B</td>
    						<td>Syddal Park B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>09/12/2018</td>
    						<td>Syddal Park A</td>
    						<td>Carrington A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>09/12/2018</td>
    						<td>Syddal Park B</td>
    						<td>Shell A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>10/12/2018</td>
    						<td>Macclesfield A</td>
    						<td>Racketeers B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>11/12/2018</td>
    						<td>Astrazeneca A</td>
    						<td>Shell B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>17/12/2018</td>
    						<td>Carrington A</td>
    						<td>Syddal Park B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>19/12/2018</td>
    						<td>Shell B</td>
    						<td>Racketeers A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>09/01/2019</td>
    						<td>College Green A</td>
    						<td>Shell A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>14/01/2019</td>
    						<td>Macclesfield A</td>
    						<td>Syddal Park A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>20/01/2019</td>
    						<td>Syddal Park B</td>
    						<td>Carrington A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>21/01/2019</td>
    						<td>Macclesfield A</td>
    						<td>Astrazeneca A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>21/01/2019</td>
    						<td>Carrington A</td>
    						<td>Shell A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>23/01/2019</td>
    						<td>College Green A</td>
    						<td>Racketeers B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>23/01/2019</td>
    						<td>Shell B</td>
    						<td>Macclesfield A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>27/01/2019</td>
    						<td>Syddal Park B</td>
    						<td>College Green A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>28/01/2019</td>
    						<td>Macclesfield A</td>
    						<td>Racketeers A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>28/01/2019</td>
    						<td>Racketeers B</td>
    						<td>Shell B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>03/02/2019</td>
    						<td>Syddal Park A</td>
    						<td>Astrazeneca A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>04/02/2019</td>
    						<td>Racketeers B</td>
    						<td>College Green A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>06/02/2019</td>
    						<td>College Green A</td>
    						<td>Astrazeneca A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>06/02/2019</td>
    						<td>Shell B</td>
    						<td>Racketeers B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>10/02/2019</td>
    						<td>Syddal Park A</td>
    						<td>College Green A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>11/02/2019</td>
    						<td>Racketeers B</td>
    						<td>Shell A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>17/02/2019</td>
    						<td>Syddal Park A</td>
    						<td>Racketeers A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>18/02/2019</td>
    						<td>Carrington A</td>
    						<td>Racketeers B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>20/02/2019</td>
    						<td>Shell A</td>
    						<td>College Green A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>24/02/2019</td>
    						<td>Syddal Park B</td>
    						<td>Racketeers A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>25/02/2019</td>
    						<td>Macclesfield A</td>
    						<td>Shell A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>25/02/2019</td>
    						<td>Racketeers B</td>
    						<td>Syddal Park A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>25/02/2019</td>
    						<td>Carrington A</td>
    						<td>Shell B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>27/02/2019</td>
    						<td>Shell B</td>
    						<td>Syddal Park A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>04/03/2019</td>
    						<td>Racketeers B</td>
    						<td>Astrazeneca A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>06/03/2019</td>
    						<td>Shell B</td>
    						<td>College Green A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>11/03/2019</td>
    						<td>Macclesfield A</td>
    						<td>Syddal Park B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>11/03/2019</td>
    						<td>Carrington A</td>
    						<td>Astrazeneca A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>13/03/2019</td>
    						<td>Shell A</td>
    						<td>Syddal Park B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>13/03/2019</td>
    						<td>College Green A</td>
    						<td>Shell B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>18/03/2019</td>
    						<td>Racketeers A</td>
    						<td>Carrington A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>20/03/2019</td>
    						<td>Shell A</td>
    						<td>Syddal Park A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>25/03/2019</td>
    						<td>Macclesfield A</td>
    						<td>Carrington A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>27/03/2019</td>
    						<td>Shell A</td>
    						<td>Astrazeneca A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>27/03/2019</td>
    						<td>College Green A</td>
    						<td>Syddal Park B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>31/03/2019</td>
    						<td>Syddal Park A</td>
    						<td>Shell B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>01/04/2019</td>
    						<td>Racketeers B</td>
    						<td>Macclesfield A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>03/04/2019</td>
    						<td>Shell B</td>
    						<td>Astrazeneca A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>07/04/2019</td>
    						<td>Syddal Park B</td>
    						<td>Racketeers B</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>10/04/2019</td>
    						<td>Shell A</td>
    						<td>Racketeers A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>14/04/2019</td>
    						<td>Syddal Park A</td>
    						<td>Shell A</td>
    						<td></td>
    					</tr>
    					<tr>
    						<td>24/04/2019</td>
    						<td>Shell A</td>
    						<td>Macclesfield A</td>
    						<td></td>
    					</tr>
    				</tbody>
          </table>
        </div>

<% include footer.ejs %>
<% include datatables.ejs %>


</body>
</html>
