<%- include (header.ejs) %>
<%- include (nav.ejs) %>

<h1>Division 1</h1>
        <div class="table-responsive">
          <table class="table" id="results-table">
            <thead>
					<tr>
						<th>fixture-date</th>
						<th>home team</th>
						<th>away team</th>
						<th>score</th>
					</tr>
				</thead>
        <tbody>
					<tr>
						<td>04/09/2018</td>
						<td>GHAP A</td>
						<td>Canute A</td>
						<td></td>
					</tr>
					<tr>
						<td>14/09/2018</td>
						<td>Altrincham Central</td>
						<td>Disley A</td>
						<td></td>
					</tr>
					<tr>
						<td>16/09/2018</td>
						<td>Syddal Park C</td>
						<td>Carrington B</td>
						<td></td>
					</tr>
					<tr>
						<td>18/09/2018</td>
						<td>Disley A</td>
						<td>Canute A</td>
						<td></td>
					</tr>
					<tr>
						<td>20/09/2018</td>
						<td>Astrazeneca B</td>
						<td>Parrswood A</td>
						<td></td>
					</tr>
					<tr>
						<td>24/09/2018</td>
						<td>Bramhall Village A</td>
						<td>Canute A</td>
						<td></td>
					</tr>
					<tr>
						<td>25/09/2018</td>
						<td>Disley A</td>
						<td>Carrington B</td>
						<td></td>
					</tr>
					<tr>
						<td>25/09/2018</td>
						<td>GHAP A</td>
						<td>Parrswood A</td>
						<td></td>
					</tr>
					<tr>
						<td>27/09/2018</td>
						<td>Astrazeneca B</td>
						<td>GHAP A</td>
						<td></td>
					</tr>
					<tr>
						<td>04/10/2018</td>
						<td>Astrazeneca B</td>
						<td>Syddal Park C</td>
						<td></td>
					</tr>
					<tr>
						<td>09/10/2018</td>
						<td>Parrswood A</td>
						<td>Syddal Park C</td>
						<td></td>
					</tr>
					<tr>
						<td>1/10/2018</td>
						<td>Carrington B</td>
						<td>Canute A</td>
						<td></td>
					</tr>
					<tr>
						<td>12/10/2018</td>
						<td>Altrincham Central</td>
						<td>Parrswood A</td>
						<td></td>
					</tr>
					<tr>
						<td>15/10/2018</td>
						<td>Carrington B</td>
						<td>GHAP A</td>
						<td></td>
					</tr>
					<tr>
						<td>16/10/2018</td>
						<td>Disley A</td>
						<td>Bramhall Village A</td>
						<td></td>
					</tr>
					<tr>
						<td>18/10/2018</td>
						<td>Astrazeneca B</td>
						<td>Carrington B</td>
						<td></td>
					</tr>
					<tr>
						<td>21/10/2018</td>
						<td>Syddal Park C</td>
						<td>Canute A</td>
						<td></td>
					</tr>
					<tr>
						<td>23/10/2018</td>
						<td>Parrswood A</td>
						<td>Disley A</td>
						<td></td>
					</tr>
					<tr>
						<td>06/11/2018</td>
						<td>Disley A</td>
						<td>Syddal Park C</td>
						<td></td>
					</tr>
					<tr>
						<td>06/11/2018</td>
						<td>Parrswood A</td>
						<td>GHAP A</td>
						<td></td>
					</tr>
					<tr>
						<td>08/11/2018</td>
						<td>Astrazeneca B</td>
						<td>Canute A</td>
						<td></td>
					</tr>
					<tr>
						<td>09/11/2018</td>
						<td>Altrincham Central</td>
						<td>Carrington B</td>
						<td></td>
					</tr>
					<tr>
						<td>13/11/2018</td>
						<td>Parrswood A</td>
						<td>Bramhall Village A</td>
						<td></td>
					</tr>
					<tr>
						<td>19/11/2018</td>
						<td>Bramhall Village A</td>
						<td>Syddal Park C</td>
						<td></td>
					</tr>
					<tr>
						<td>20/11/2018</td>
						<td>Parrswood A</td>
						<td>Carrington B</td>
						<td></td>
					</tr>
					<tr>
						<td>21/11/2018</td>
						<td>Canute A</td>
						<td>Altrincham Central</td>
						<td></td>
					</tr>
					<tr>
						<td>22/11/2018</td>
						<td>Astrazeneca B</td>
						<td>Disley A</td>
						<td></td>
					</tr>
					<tr>
						<td>25/11/2018</td>
						<td>Syddal Park C</td>
						<td>Disley A</td>
						<td></td>
					</tr>
					<tr>
						<td>15/4/2019</td>
						<td>Bramhall Village A</td>
						<td>Altrincham Central</td>
						<td></td>
					</tr>
					<tr>
						<td>28/11/2018</td>
						<td>Canute A</td>
						<td>Parrswood A</td>
						<td></td>
					</tr>
					<tr>
						<td>03/12/2018</td>
						<td>Bramhall Village A</td>
						<td>Carrington B</td>
						<td></td>
					</tr>
					<tr>
						<td>06/12/2018</td>
						<td>Astrazeneca B</td>
						<td>Altrincham Central</td>
						<td></td>
					</tr>
					<tr>
						<td>11/12/2018</td>
						<td>Disley A</td>
						<td>Parrswood A</td>
						<td></td>
					</tr>
					<tr>
						<td>16/12/2018</td>
						<td>Syddal Park C</td>
						<td>Altrincham Central</td>
						<td></td>
					</tr>
					<tr>
						<td>18/12/2018</td>
						<td>GHAP A</td>
						<td>Altrincham Central</td>
						<td></td>
					</tr>
					<tr>
						<td>07/01/2019</td>
						<td>Carrington B</td>
						<td>Altrincham Central</td>
						<td></td>
					</tr>
					<tr>
						<td>08/01/2019</td>
						<td>GHAP A</td>
						<td>Syddal Park C</td>
						<td></td>
					</tr>
					<tr>
						<td>08/01/2019</td>
						<td>Parrswood A</td>
						<td>Astrazeneca B</td>
						<td></td>
					</tr>
					<tr>
						<td>09/01/2019</td>
						<td>Canute A</td>
						<td>Disley A</td>
						<td></td>
					</tr>
					<tr>
						<td>15/01/2019</td>
						<td>Parrswood A</td>
						<td>Altrincham Central</td>
						<td></td>
					</tr>
					<tr>
						<td>17/01/2019</td>
						<td>Astrazeneca B</td>
						<td>Bramhall Village A</td>
						<td></td>
					</tr>
					<tr>
						<td>22/01/2019</td>
						<td>Disley A</td>
						<td>GHAP A</td>
						<td></td>
					</tr>
					<tr>
						<td>23/01/2019</td>
						<td>Canute A</td>
						<td>Bramhall Village A</td>
						<td></td>
					</tr>
					<tr>
						<td>25/01/2019</td>
						<td>Altrincham Central</td>
						<td>GHAP A</td>
						<td></td>
					</tr>
					<tr>
						<td>27/01/2019</td>
						<td>Syddal Park C</td>
						<td>Bramhall Village A</td>
						<td></td>
					</tr>
					<tr>
						<td>29/01/2019</td>
						<td>Disley A</td>
						<td>Altrincham Central</td>
						<td></td>
					</tr>
					<tr>
						<td>29/01/2019</td>
						<td>GHAP A</td>
						<td>Astrazeneca B</td>
						<td></td>
					</tr>
					<tr>
						<td>01/02/2019</td>
						<td>Altrincham Central</td>
						<td>Canute A</td>
						<td></td>
					</tr>
					<tr>
						<td>03/02/2019</td>
						<td>Syddal Park C</td>
						<td>Parrswood A</td>
						<td></td>
					</tr>
					<tr>
						<td>04/02/2019</td>
						<td>Carrington B</td>
						<td>Disley A</td>
						<td></td>
					</tr>
					<tr>
						<td>08/04/2019</td>
						<td>Bramhall Village A</td>
						<td>GHAP A</td>
						<td></td>
					</tr>
					<tr>
						<td>08/02/2019</td>
						<td>Altrincham Central</td>
						<td>Astrazeneca B</td>
						<td></td>
					</tr>
					<tr>
						<td>11/02/2019</td>
						<td>Carrington B</td>
						<td>Syddal Park C</td>
						<td></td>
					</tr>
					<tr>
						<td>11/02/2019</td>
						<td>Bramhall Village A</td>
						<td>Parrswood A</td>
						<td></td>
					</tr>
					<tr>
						<td>13/02/2019</td>
						<td>Canute A</td>
						<td>GHAP A</td>
						<td></td>
					</tr>
					<tr>
						<td>22/02/2019</td>
						<td>Altrincham Central</td>
						<td>Bramhall Village A</td>
						<td></td>
					</tr>
					<tr>
						<td>26/02/2019</td>
						<td>Disley A</td>
						<td>Astrazeneca B</td>
						<td></td>
					</tr>
					<tr>
						<td>26/02/2019</td>
						<td>Parrswood A</td>
						<td>Canute A</td>
						<td></td>
					</tr>
					<tr>
						<td>04/03/2019</td>
						<td>Carrington B</td>
						<td>Bramhall Village A</td>
						<td></td>
					</tr>
					<tr>
						<td>05/03/2019</td>
						<td>GHAP A</td>
						<td>Disley A</td>
						<td></td>
					</tr>
					<tr>
						<td>10/03/2019</td>
						<td>Syddal Park C</td>
						<td>Astrazeneca B</td>
						<td></td>
					</tr>
					<tr>
						<td>11/03/2019</td>
						<td>Bramhall Village A</td>
						<td>Disley A</td>
						<td></td>
					</tr>
					<tr>
						<td>13/03/2019</td>
						<td>Canute A</td>
						<td>Carrington B</td>
						<td></td>
					</tr>
					<tr>
						<td>15/03/2019</td>
						<td>Altrincham Central</td>
						<td>Syddal Park C</td>
						<td></td>
					</tr>
					<tr>
						<td>18/03/2019</td>
						<td>Carrington B</td>
						<td>Astrazeneca B</td>
						<td></td>
					</tr>
					<tr>
						<td>20/03/2019</td>
						<td>Canute A</td>
						<td>Syddal Park C</td>
						<td></td>
					</tr>
					<tr>
						<td>25/03/2019</td>
						<td>Bramhall Village A</td>
						<td>Astrazeneca B</td>
						<td></td>
					</tr>
					<tr>
						<td>26/03/2019</td>
						<td>GHAP A</td>
						<td>Carrington B</td>
						<td></td>
					</tr>
					<tr>
						<td>31/03/2019</td>
						<td>Syddal Park C</td>
						<td>GHAP A</td>
						<td></td>
					</tr>
					<tr>
						<td>01/04/2019</td>
						<td>Carrington B</td>
						<td>Parrswood A</td>
						<td></td>
					</tr>
					<tr>
						<td>05/12/2018</td>
						<td>Canute A</td>
						<td>Astrazeneca B</td>
						<td></td>
					</tr>
					<tr>
						<td>05/02/2019</td>
						<td>GHAP A</td>
						<td>Bramhall Village A</td>
						<td></td>
					</tr>
				</tbody>
          </table>
        </div>

<%- include (footer.ejs) %>
<%- include (datatables.ejs) %>


</body>
</html>
