<% include offline-header.ejs %>
<%- include (nav.ejs) %>

<h1>League Rules</h1>

<ol id="rules">
  <li>The League shall be called The Yehlex Stockport and District Badminton League.</li>
  <li><strong>OBJECTS</strong> to provide and promote competitive badminton on
    the League principle for clubs in the neighbourhood of Stockport,
    and to arrange matches, tournaments and all other events
    connected therewith.</li>
  <li><strong>MEMBERSHIP</strong> shall be open to Clubs whose courts are situated
    within a radius of ten miles of Stockport Town Hall. New Clubs
    desirous of joining the League, will make application on the
    appropriate form, to be received by the League Secretary not
    later than 30th June and acceptance shall be subject to the
    sanction of the Management Committee. Any such new Clubs
    or additional teams from existing clubs shall enter the League at
    an appropriate position in the League, subject to there being
    spaces available, and approval by the Management Committee.
    The Management Committee shall have the right to promote
    after one season, any Club from the lowest division which it feels
    is completely above the division's standard. Associate
    membership shall be open to properly constituted Clubs wishing
    to be affiliated to the League but not currently participating in
    League play. Associate member Clubs will not have voting rights
    at annual meetings or be eligible to enter senior tournaments.</li>
  <li><strong>RESIGNATION</strong> Any Club wishing to withdraw a team or teams
    from the League shall give notice in writing or by e-mail, to the
    League Secretary before 30th June, otherwise that Club will be
    liable for the ensuing years' subscription. In the event of a Club
    having to withdraw one or more of its teams from the League it
    can request to withdraw any team(s) rather than its lowest team.</li>
  <li><strong>GOVERNMENT</strong> The government of the League shall be vested
    in a Management Committee consisting of officials and elected
    members of the Executive Committee who shall all be ex-officio
    and one representative of each Club playing in the league.
    Inter alia, the Management Committee shall have power to:

    <ol class="alpha-list" style="list-style-type:lower-alpha">
      <li>Sanction or refuse all application for membership.</li>
      <li>Terminate the membership of any Club already in the League.</li>
      <li>Determine the constitution of the Divisions of the League. The Management Committee may delegate any of its powers to an Executive Committee consisting of the elected Officials, who may co-opt, annually, up to three others to be members of the Committee.</li>
    </ol>
    In particular, the Management Committee may delegate to the
    Executive Committee the power to:
    <ol style="list-style-type:lower-alpha">
      <li>Make decisions with regard to abandoned matches.</li>
      <li>Give rulings on all disputes or appeals or on any matter
        relating to the League.</li>
      <li>Make Byelaws to govern any matter not provided for in the
        Rules,save that such Byelaws shall be subject to confirmation
        at the Annual General Meeting next following.</li>
    </ol>
  </li>
  <li><strong>OFFICIALS</strong> The Officials shall consist of a President,
    Chairman, Secretary, Treasurer, Match Secretary, Veterans
    League Organiser, Results Secretary, Tournament Secretary,
    Junior League Organiser, Messer Trophy Organiser, Junior
    Tournament Organiser and Website Co-ordinator.ThePresident
    to be elected for a two year term only and cannot serve two
    consecutive terms. Nominations for any posts to be received by
    the Secretary in writing or by email at least 14 days before the
    Annual General Meeting and to show the names of the proposer
  and seconder.</li>
  <li><strong>COMMITTEE MEETINGS</strong><br />
    <strong>Management Committee</strong>: Meeting of the Management
    Committee shall be held at least once in each year, and shall be
    convened by the Chairman,or the Secretary,or on the application
    of two or more members of the Committee. A quorum shall
    consist of not less than one half the number entitled to attend. A
    Club not represented at any Management Committee Meeting,
    or Annual General Meeting, or EGM shall be liable to a fine of
    £25 per meeting missed.<br />
    <strong>Executive Committee</strong>: The Executive Committee may meet,
    adjourn and regulate its business as it thinks fit and a quorum
    shall consist of not less than one half of the number entitled to
    attend.</li>
  <li><strong>ANNUAL GENERAL MEETING</strong> The Annual General Meeting
    shall be held in May each year for the purpose of electing
    officials, to elect our Auditor, to receive the report of the Secretary,
    to receive the Statement of Accounts and the report of the
    Treasurer, to determine the amount of the subscriptions for the
    ensuing year, and to transact any business raised upon notice
    of motion or at the request of the Executive Committee. A
    quorum for the Annual General Meeting shall be thirty people.
    Each Club in the League shall have at least 14 days notice of
    such meeting, any notice of motion for inclusion on the agenda
    must reach the League Secretary not later than 28th February,
    all motions to be signed by a proposer and seconder. Attendees
    must either be registered for a club in the Stockport League as
    a player or as a non-playing official, e.g. Secretary, Treasurer or
    Match Secretary. All Members of the Executive Committee and
    Life Vice Presidents are eligible to attend the Annual General
    Meeting. Anyone who is registered as an official and a playing
    member of 2 different clubs may only represent one club and
    must identify which club they are representing when signing in
    for admission to the meeting. Each eligible attendee at the
    Annual General Meeting shall have power to vote on any matter.</li>
  <li><strong>ALTERATIONS TO RULES</strong> New rules can only be introduced
    or old ones expunged or altered at the Annual General Meeting
    of the League, or at an Extraordinary General Meeting of the
    League convened for the purpose. Written notice of suggested
    alteration or additions to the Rules must reach the League
    Secretary not later than 28th February. All proposed motions
    and suggested rule alteration or changes to be circulated to
    Clubs within 4 weeks of the 28th February of each year.
    However, if a rule change is passed that has an unforseen and
    direct impact on an existing rule, the meeting may propose and
    vote on amendments to the affected rule.</li>
  <li><strong>EXTRAORDINARY GENERAL MEETING</strong> An Extraordinary
    General Meeting of the League may be convened by the
    Executive Committee, the Management Committee or the
    League Secretary upon a written requisition signed by the
    representatives of not less than three Clubs, such requisition to
    state the objects for which the meeting is called. Fourteen days’
    notice shall be given to all League Clubs of any Extraordinary
    General Meeting. The motion or motions to be discussed shall
    be incorporated in the notice and no other business shall be
    transacted. Eligibility for attendance and voting, and the quorum
    required for an EGM shall be the same as for an Annual General
    Meeting.</li>
  <li>The Laws of Badminton as currently adopted by the Badminton
    World Federation shall apply.</li>
  <li><strong>SHUTTLES</strong> Feathered shuttles shall be used in all matches.
    The approved shuttles for this season are YEHLEX
    PREMIERSHIP or CHAMPIONSHIP. If the agreed shuttles are
    not available the number of games not played with the approved
    shuttles will be forfeited.</li>
  <li><strong>PLAY</strong> The following shall govern play in League matches:
    <ol style="list-style-type:lower-alpha">
      <li>Each team in the League shall play home and away matches
        with every other team in the Division.</li>
      <li>Each match shall be played by teams consisting of Three Ladies
        and Three Gentlemen, who shall play Three Ladies' Doubles,
        Three Gent's Doubles and Three Mixed Doubles. The players
        for all level Doubles shall be ranked in order of playing ability.
        The couples for Mixed Doubles games shall be ranked in order
        of mixed playing strength; the order of play in these games shall
        be declared on the Official Score Sheet by the opposing Captains
        before play commences. The nine couples so formed shall play
        two games of 21 aces against the couples of equal rank in the
        opposing team.</li>
      <li>Matches shall commence at the time stated in the handbook or
        at a time mutually agreed by the captains of the 2 teams. The
        order of play shall be as set out on the official score sheet. If
        either team does not have gents 1 & 2 ready for play 15 minutes
        from the scheduled agreed time that team shall forfeit the 1st
        game, if after a further 15 minutes gents 1 & 2 are still unavailable
        the second game is forfeited. Following the scheduled or agreed
        start time, players must be present and ready for play in
        subsequent games assuming an elapsed time of 15 minutes per
        game per available court. From a scheduled pair of games
        between opposing pairs, if a pair only claims the first game due
        to the non-availability of the opposition, then when playing the
        remaining game, that pair will have choice of ends, with the
        option to serve being determined in an agreed manner.
        If the order of play is changed to accommodate the late arrival
        of player/s and all possible games have been played, from the
        12 level doubles any remaining games that are unplayable shall
        be claimed at this time. If players are unavailable from both
        teams,then unplayed games are void and no points are awarded
        to either side.
        If a player fails to turn up, then the mixed doubles must still be
        played in order of precedence and the match card may be
        amended. For example MX D1 cannot be conceded for an
        unavailable player if MX D2 an MX D3 are played.</li>
      <li>Any club unable to provide a full team will forfeit, to the opposition
        all games not played. Rule 13b still applies and all eligible
        players must be entered on the match card and play in order of
        strength, number 1 down to number 3. If unable to field a full
        team, every effort must be made to notify the opposition as far
        in advance as possible, by phone. For any teams fielding fewer
        than 5 players the following penalties may apply at the discretion
        of the Committee. Fielding 4 players a penalty of 2 points,
        fielding 3 players a penalty of 4 points, fielding 2 players a
        penalty of 6 points and for less than 2 players a penalty of 10
        points.</li>
      <li>Generally the conduct of the game will be in the hands of the
        players. However, an umpire will be appointed alternatively by
        each side (home team first) who will:</li>
      <ol style="list-style-type:lower-roman">
        <li>keep the score</li>
        <li>rule on any dispute which may arise during play.
          The umpire's ruling will be final.</li>
      </ol>
      <li>All matches will consist of 18 games as per Rule 13b. Each game
        will win one point. The League Table order will be dictated by the
        total number of games won.</li>
      <li>Visiting teams shall abide by the playing rules and byelaws of the
        home Club providing these do not contravene the Rules of the
        League, and it shall be incumbent upon the home players to
        declare to the visitors before the match such rules or byelaws
        which are likely to affect play.</li>
      <li>All disputes or appeals on any matter shall be submitted in
        writing or by e-mail within seven days of the event to the
        Executive Committee through the League Secretary.</li>
      <li>Clothing worn on court must be recognised badminton sports
        clothing. Any player contravening this rule will be reported and
        liable to disciplinary action.</li>
      <li>No player is allowed to play in two different matches at the same time.</li>
      </ol>
    </li>
  <li><strong>FIXTURES</strong> Matches shall be played as set out in the official
    League Fixture lists. No match shall be rearranged unless the
    room of the home team becomes unavailable OR with the
    agreement of both Captains, the Results Secretary to be notified
    immediately by both the home and away teams of any such
    changes. <strong style="text-decoration:underline">Failure to do so within 7 days of the original date
      will result in a fine of ten pounds (£10).</strong> Any team unable to
    fulfil a fixture will score no points, but the team conceded to will
    score 18 points. A team which does not turn up for a match fixture
    on more than one occasion and cannot satisfy the League
    Executive Committee that there is a very good reason, shall be
    placed at the bottom of their division for relegation at the end of
    the season. All match results during the season with that team
    are to be disregarded when it comes to deciding the promotion
    and relegation positions. All fixtures to be completed by the end
    of April, or at the discretion of the Results Secretary.
    Match results shall be submitted on the official score sheet by
    the home team so as to reach the Results Secretary within seven
    days of the match in question having been played. <strong style="text-decoration:underline">Teams not
    complying with this rule shall, on submission of the 2nd and
    subsequent late score sheets, be fined £10. For the 3rd and
    subsequent late score sheets all points scored by the home
    team in those matches will be forfeited.</strong>
    Clubs with more than one team in any division must play all
    matches between these teams before 30th November in any
    season.</li>
  <li><strong>LEAGUE TABLES</strong> In the event of a tie on points between two
    or more teams, their positions in the League shall be decided in
    alphabetical order. In the FINAL LEAGUE TABLE in the event
    of the total number of points being equal, the placings shall be
    decided only by the results of the matches played between the
    teams concerned. The teams will be placed in order of the
    games won against each other and where these are equal, by
    the differences in aces scored, for and against.</li>
  <li><strong>PROMOTION & RELEGATION</strong> The two teams finishing top of
    any division shall normally be promoted to a higher division.
    The two teams finishing bottom of any division shall normally be
    relegated to the next lower division. If the number of teams in a
    division is to be increased, then the relative playing strengths of
    the teams that would normally be relegated and the teams
    finishing outside of the automatic promotion places of the
    division below, shall be compared. The assessed stronger
    teams shall then be placed in the restructured division. If, after
    the agreed formation of divisions for the season, a team is
    withdrawn or has its playing record voided, that team shall be
    considered to have finished bottom of the division and fill an
    automatic relegation position.</li>
  <li><strong>COURTS</strong> It shall be incumbent upon the home team to have all
    lines clearly marked before each match commences and to see
    the net is in a good state of repair. In marking out the court the
    measurements laid down by the Laws of Badminton shall be
    used. If this is impossible, a close approximation should be
    attempted.</li>
  <li><strong>REGISTRATION OF PLAYERS</strong> Each club must register with
    the Results Secretary any player likely to be called upon to play
    for the Club in any League match.
    Registrations, in writing, shall be in the hands of the Results
    Secretary not later than the day before the Club's first match.
    <strong style="text-decoration:underline">Only players available to participate in at least one of the
    first three league matches should be registered for that
    team. If not available for any reason, they should be
    nominated as a reserve for the team they would be selected
    for, until they are available to fill a permanent position.</strong>
    Failure to comply with the spirit of this law may result in the
    reduction of points. Thereafter, no player shall play in any match
    unless his/her registration is in the hands of the Results Secretary
    7 days prior to the first match in which the player is likely to play.
    Only bona fide Club members are eligible for registration,
    outside players cannot be brought in on an ad hoc basis so as
    to influence promotion or relegation. No player may be registered
    after 28th February in any season. No player may be registered
    by two or more member clubs at the same time. Players may only
    change registration in the season with permission of the Executive
    Committee. On all these points appeal may be made to the
    Executive Committee through the Results Secretary.</li>
  <li><strong>CLUBS WITH MORE THAN ONE TEAM</strong> Such clubs' teams
    shall be named, in order of playing strength, 'A', 'B', 'C', etc. at the
    commencement of each playing season. i.e. before any League
    fixtures are fulfilled. Clubs shall submit to the league Results
    Secretary a list of players who will normally play for each of their
    teams as entered for the League Competition, and players so
    registered shall not play for any other team during that season
    with these exceptions:
    <ol style="list-style-type:lower-alpha">
      <li>Any player may play as a reserve for a higher team.</li>
      <li>If a player misses 3 consecutive matches the Results
        Secretary must be notified of the reason. The Results
        Secretary may decide that a permanent replacement be
        promoted. All reserves must be nominated for teams
        according to their standard. Failure to comply with the spirit
        of this law may result in the deduction of points.</li>
      <li>If there is a re-selection, the Results Secretary shall be
        informed of the names of the players promoted and demoted
        and these changes shall stand for a period of not less than
        3 league matches.</li>
      <li>The Executive Committee have the right to regulate the
        interchange of players between teams and the use of
        reserves in the interest of fair competition.</li>
      </ol>
    </li>
  <li>All clubs must pay league fees by 31st October in any season.
    Failure to pay by this date will lead to an immediate fine of £10
    per team. Failure to pay by 30th November of that season will
    lead to further sanctions. Failure to comply may result in expulsion
    from the League.
    Subscriptions for 2012/2013 Season shall be £35 per Senior
    Team (includes 6 handbooks); Existing Associate Members £5;
    New Associate Members £10; Veteran's League £5 per team.
    Junior Teams - Free.</li>
  <li><strong>FIXTURE MEETING</strong> A meeting to arrange fixtures shall be held
    in July each year. Each Club shall send one representative per
    team to the fixture meeting.
    A Club failing to do so shall be fined at the rate of £20 per team
    not represented. This fine to be paid before 1st September. If
    not, the team(s) will be expelled. The Executive Committee will
    consider waiving this fine in exceptional circumstances.</li>
  <li><strong>VETERANS LEAGUE REGULATIONS</strong>
    <ol>
      <li>Players must be "bona-fide" members of a Club playing in the
        Stockport and District Badminton League.</li>
      <li>Players will be eligible to participate on their 45th Birthday.</li>
      <li>The League is for players of Division 3 and below only.</li>
      <li>Clubs not having sufficient players to enable them to enter a
        team may use a maximum of 2 substitute players, namely 1
        lady and 1 gentleman only. These players must comply with
        reg. 1.</li>
      <li>Clubs should register their players with the Veteran League
        organiser before their first match.</li>
      <li>Each team shall consist of two ladies and two gentlemen.</li>
      <li>Each match shall consist of twelve games, these games
        being, two ladies, two mens and eight mixed. Each mixed
        couple will be named as couples one and two and will remain
        in these combinations for the mixed games. Each game shall
        be to 15 aces up, no setting allowed.</li>
      <li>The shuttles used shall be those currently approved by the
        League, unless an alternative agreement has been reached
        between the Captains.</li>
      </ol>
    </li>
</ol>


<%- include (footer.ejs) %>


</body>
</html>
