<% include header.ejs %>
<% include nav.ejs %>

<h1>Scorecard Received</h1>
<p>This is just a dummy page to show the values entered</p>
<pre><%=  result %></pre>


<% include footer.ejs %>


</body>
</html>
