<%- include (header.ejs) %>
<%- include (nav.ejs) %>

<div class="table-responsive">
          <table class="table">
				<thead>
					<tr>
						<th>Div 4</th>
						<th>p</th>
						<th>w</th>
						<th>l</th>
						<th>avg</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Mellor B</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Disley C</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>College Green D</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Manor C</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Cheadle Hulme A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Mellor C</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Poynton A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Bramhall Village B</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Disley D</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
				</tbody>
  			  </table>
        </div>

<%- include (footer.ejs) %>


</body>
</html>
