<%- include header.ejs %>
<%- include nav.ejs %>

<div class="table-responsive">
          <table class="table">
				<thead>
					<tr>
						<th>Div 3</th>
						<th>p</th>
						<th>w</th>
						<th>l</th>
						<th>avg</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Disley B</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>College Green C</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Macclesfield B</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>GHAP B</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>New Mills A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Manor B</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Dome B</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Tatton A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Parrswood C</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
				</tbody>
  			  </table>
        </div>

<%- include footer.ejs %>


</body>
</html>
