<%- include ('header.ejs') %>
<%- include ('nav.ejs') %>

<div class="table-responsive">
          <table class="table">
    				<thead>
    					<tr>
    						<th>Div 1</th>
    						<th>p</th>
    						<th>w</th>
    						<th>l</th>
    						<th>avg</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr>
    						<td>Canute A</td>
    						<td>0</td>
    						<td>0</td>
    						<td>0</td>
    						<td>#DIV/0!</td>
    					</tr>
    					<tr>
    						<td>Disley A</td>
    						<td>0</td>
    						<td>0</td>
    						<td>0</td>
    						<td>#DIV/0!</td>
    					</tr>
    					<tr>
    						<td>GHAP A</td>
    						<td>0</td>
    						<td>0</td>
    						<td>0</td>
    						<td>#DIV/0!</td>
    					</tr>
    					<tr>
    						<td>Altrincham Central</td>
    						<td>0</td>
    						<td>0</td>
    						<td>0</td>
    						<td>#DIV/0!</td>
    					</tr>
    					<tr>
    						<td>Carrington B</td>
    						<td>0</td>
    						<td>0</td>
    						<td>0</td>
    						<td>#DIV/0!</td>
    					</tr>
    					<tr>
    						<td>Parrswood A</td>
    						<td>0</td>
    						<td>0</td>
    						<td>0</td>
    						<td>#DIV/0!</td>
    					</tr>
    					<tr>
    						<td>Astrazeneca B</td>
    						<td>0</td>
    						<td>0</td>
    						<td>0</td>
    						<td>#DIV/0!</td>
    					</tr>
    					<tr>
    						<td>Syddal Park C</td>
    						<td>0</td>
    						<td>0</td>
    						<td>0</td>
    						<td>#DIV/0!</td>
    					</tr>
    					<tr>
    						<td>Bramhall Village A</td>
    						<td>0</td>
    						<td>0</td>
    						<td>0</td>
    						<td>#DIV/0!</td>
    					</tr>
    				</tbody>
          </table>
        </div>
      
<%- include ('footer.ejs') %>


</body>
</html>
