<%- include (header.ejs) %>
<%- include (nav.ejs) %>

<div class="table-responsive">
          <table class="table">
            <thead>
					<tr>
						<th>Prem</th>
						<th>p</th>
						<th>w</th>
						<th>l</th>
						<th>avg</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Racketeers A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Macclesfield A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Shell A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Syddal Park A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Racketeers B</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Syddal Park B</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Astrazeneca A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Carrington A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>College Green A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Shell B</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
				</tbody>
  			  </table>
        </div>

<%- include (footer.ejs) %>


</body>
</html>
