<%- include header.ejs %>
<%- include nav.ejs %>

<div class="table-responsive">
          <table class="table">
				<thead>
					<tr>
						<th>Div 2</th>
						<th>p</th>
						<th>w</th>
						<th>l</th>
						<th>avg</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>College Green B</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Aerospace A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>David Lloyd A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Manor A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Shell C</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Dome A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Mellor A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>Parrswood B</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
					<tr>
						<td>CAP A</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>#DIV/0!</td>
					</tr>
				</tbody>
  			  </table>
        </div>

<%- include footer.ejs %>


</body>
</html>
