<div class="modal" id="tournamentNotesModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">2020 YEHLEX STOCKPORT LEAGUE HANDICAP TOURNAMENTS</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-left">
        The League Open, ‘B’  and ‘C’ Section Tournaments will be held at Bramhall Recreation Centre, Seal Rd, Bramhall.<br /><br />
        All events will be played to a finish on the scheduled date. There will be plate events in all knockout events, guaranteeing all entrants at least two games.<br /><br />
        The events will be starting in the late afternoon and will be held as follows:<br /><br />
        <div class="row">
            <div class="col-8">HANDICAP MENS AND WOMENS SINGLES</div>
            <div class="col-2">Sunday</div>
            <div class="col-2">March 1st</div>
        </div>
        <div class="row">
            <div class="col-8">HANDICAP MENS AND WOMENS DOUBLES</div>
            <div class="col-2">Sunday</div>
            <div class="col-2">March 8th</div>
        </div>
        <div class="row">
            <div class="col-8">HANDICAP MIXED DOUBLES</div>
            <div class="col-2">Sunday</div>
            <div class="col-2">March 1st</div>
        </div>
        <div class="row">
            <div class="col-8">VETERAN SINGLES</div>
            <div class="col-2">Sunday</div>
            <div class="col-2">March 8th</div>
        </div>
        <div class="row">
            <div class="col-8">VETERAN MENS AND WOMENS DOUBLES</div>
            <div class="col-2">Sunday</div>
            <div class="col-2">March 1st</div>
        </div>
        <div class="row">
            <div class="col-8">VETERAN MIXED DOUBLE</div>
            <div class="col-2">Sunday</div>
            <div class="col-2">March 8th</div>
        </div>
        <div class="row">
            <div class="col-8">FAMILY MIXED DOUBLES</div>
            <div class="col-2">Sunday</div>
            <div class="col-2">March 8th</div>
        </div>
        <div class="row col-12">&nbsp;</div>
        <div class="row">
            <div class="col-2">PLATE EVENTS</div>
            <div class="col-10">Plate events will be held in the knockout events, guaranteeing all entrants at least 2 games.</div>
        </div>
        <div class="row">
            <div class="col-2">ENTRY FEES</div>
            <div class="col-10">Entries must be accompanied by the correct fees (£7.50 per person per event). Cheques should be made payable to ‘Stockport Badminton League’.</div>
        </div>
        <div class="row">
            <div class="col-2">SHUTTLES</div>
            <div class="col-10">YEHLEX have provided the shuttles to be used free of charge. My thanks go to Yehlex for their generosity.</div>
        </div>
        <div class="row">
            <div class="col-2">PROGRAMMES</div>
            <div class="col-10">Each club entering and anybody providing an email address will be supplied with a programme via email</div>
        </div>
        <div class="row">
            <div class="col-2">VETERAN EVENTS</div>
            <div class="col-10">Competitors in these events must have been aged 40 or over on September 1st 2019.</div>
        </div>
        <div class="row">
            <div class="col-2">FAMILY MIXED</div>
            <div class="col-10">This tournament is restricted to close relatives, ie, husband/wife, brother/sister, father/daughter or mother/son.</div>
        </div>
        <div class="row">
            <div class="col-2">PAINE PLATE</div>
            <div class="col-10">All pairs who lose their first match in the Handicap Mixed Doubles are eligible to enter the Paine Plate.</div>
        </div>
        <div class="row">
            <div class="col-2">COMPETITION RULES</div>
            <div class="col-10">A full set of rules is detailed in the current edition of the League Handbook.</div>
        </div>
        <div class="row">
            <div class="col-2">CLOSING DATE</div>
            <div class="col-10">Entry forms together with the correct fees must be returned to the Tournament Secretary at the above address not later than Friday February 14th. No entries will be accepted after this date.</div>
        </div>
        <div class="row">
            <div class="col-2">TROPHIES</div>
            <div class="col-10">Club Secretaries are reminded that all trophies, divisional and tournament are due for return to me by finals day – late return could mean your club being fined!</div>
        </div>
                               
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>