<div class="modal" id="tournamentNotesModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">2022 YEHLEX STOCKPORT BADMINTON LEAGUE OPEN, 'B' AND 'C' TOURNAMENTS</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-left">
        The League Open, 'B' and 'C' Tournaments will be held at LifeLeisure Bramhall Recreation Centre, Seal Rd, Bramhall.<br /><br />
        The events are as follows:<br /><br />
        <div class="row">
            <div class="col-8">OPEN WOMENS SINGLES</div>
            <div class="col-2">Saturday</div>
            <div class="col-2">November 19th - 1.30PM</div>
        </div>
        <div class="row">
            <div class="col-8">OPEN MENS AND WOMENS DOUBLES</div>
            <div class="col-2">Saturday</div>
            <div class="col-2">November 19th - 1.00PM</div>
        </div>
        <div class="row">
            <div class="col-8">'B' SINGLES</div>
            <div class="col-2">Saturday</div>
            <div class="col-2">November 19th - 1.30PM</div>
        </div>
        <div class="row">
            <div class="col-8">'B' MIXED DOUBLES</div>
            <div class="col-2">Saturday</div>
            <div class="col-2">November 19th - 1.00PM</div>
        </div>
        <div class="row">
            <div class="col-8">'C' MIXED DOUBLES</div>
            <div class="col-2">Saturday</div>
            <div class="col-2">November 19th - 1.00PM</div>
        </div>
        <div class="row">
            <div class="col-8">SUPERVET MENS DOUBLES</div>
            <div class="col-2">Saturday</div>
            <div class="col-2">November 19th - 1.30PM</div>
        </div>
        
        <div class="row col-12">&nbsp;</div>
        <div class="row">
            <div class="col-2">PLATE EVENTS</div>
            <div class="col-10">Plate events will be held in the knockout events, guaranteeing all entrants at least 2 games.</div>
        </div>
        <div class="row">
            <div class="col-2">ENTRY FEES</div>
            <div class="col-10">Entries must be accompanied by the correct fees (£8.00 person per event). Cheques should be made payable to 'Stockport Badminton League'. Bank details available on request</div>
        </div>
        <div class="row">
            <div class="col-2">PROGRAMMES</div>
            <div class="col-10">Programmes will be sent out via email to club secretaries and players who have supplied email addresses.</div>
        </div>
        <div class="row">
            <div class="col-2">SUPERVET EVENTS</div>
            <div class="col-10">Competitors in this event must have been aged 50 or over on the 1st September 2022.</div>
        </div>
        <div class="row">
            <div class="col-2">'B' EVENTS</div>
            <div class="col-10">Entrants for the 'B' events must be registered for a team in Division 1 or lower.</div>
        </div>
        <div class="row">
            <div class="col-2">'C' EVENTS</div>
            <div class="col-10">Entrants for the 'C' events must be registered for a team in Division 2 or lower.</div>
        </div>
        <div class="row">
            <div class="col-2">COMPETITION RULES</div>
            <div class="col-10">A full set of rules is detailed in the current edition of the League Handbook.</div>
        </div>
        <div class="row">
            <div class="col-2">CLOSING DATE</div>
            <div class="col-10">Entry forms together with the correct fees must be returned to the Tournament Secretary as soon as possible</div>
        </div>
                               
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>