<div class="modal" id="tournamentStatTimesModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Messer Notes</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-left">
        Can clubs also ensure that the captain for the match is aware of the points below. The results are checked and transgressions may result in games being given to the opposition.<br />
        Points to take note of:
        <ul>
          <li>the players should be ranked in order of playing ability, which should be the same order as used for the level doubles in league matches.</li>
          <li>as this is a handicap tournament, there is no setting, so a set is won by the first to 21.</li>
          <li>from January 1st any players playing in the Messer should have played 3 league matches. If this causes any problems please contact me before you play the match.</li>
        </ul>
        Also can the winners please ensure that they send in the completed Messer Score sheet (download from website) with the result as soon as possible after the match.<br />
        The closing date for this round is Friday February 21st.<br />
        The home team is in italics.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>